{% extends "base.html.twig" %}

{% block title %}Connexion{% endblock %}
{% block body %}
    {% include 'post/header.html.twig' %}

    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <h2>Connexion</h2>
                <hr>
                <form action="{{ path('security_login') }}" method="post">
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>{{ 'label.username'|trans }}</label>
                            <input type="text" class="form-control" placeholder="Pseudo" id="username" name="_username" value="{{ last_username }}" required data-validation-required-message="Please enter your name.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>{{ 'label.password'|trans }}</label>
                            <input type="password" class="form-control" placeholder="Password" id="password" name="_password" required data-validation-required-message="Please enter your password.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <input type="hidden" name="_target_path" value="{{ app.request.get('redirect_to') }}"/>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                    <br>
                    <div id="success"></div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" id="sendMessageButton">{{ 'action.sign_in'|trans }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <hr>

{% endblock %}

