{% extends 'base.html.twig' %}

{% block title %}Adminitration{% endblock %}

{% block body %}
    {% include 'admin/header.html.twig' %}

    <div class="container">
    <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Slug</th>
                <th>Summary</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.slug }}</td>
                <td>{{ post.summary }}</td>
                <td>
                    <a href="{{ path('admin_post_show', {id: post.id}) }}">{{ 'action.show'|trans }}</a>
                    <a href="{{ path('post_edit', {id: post.id}) }}">edit</a>
                    <a href="{{ path('post_delete', {id: post.id}) }}">delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



    <a href="{{ path('admin_post_new') }}">Create new</a>

    </div>
    </div>
    </div>
{% endblock %}
