 <ul class="flex-lg flex-lg-row justify-content-lg-center align-content-lg-center">
                <li>
                    <a class="nav-link" href="{{ path('post_index') }}">Home</a>
                </li>
                <li>
                    <a class="nav-link" href="{{ path('admin_index') }}">liste des posts</a>
                </li>
                <li>
                    <a class="nav-link" href="{{ path('admin_post_new') }}">Créer un post</a>
                </li>
                <li>
                    <a class="nav-link" href="{{ path('user_new') }}">Ajouter un membre</a>
                </li>
                {% if app.user %}
                 <li>
                     <a class="nav-link">Bienvenue {{ app.user.fullName }}</a>
                 </li>
                  <li>
                      <a class="nav-link" href="{{ path('security_logout') }}">{{ 'menu.logout'|trans }}</a>
                  </li>
                {% endif %}
            </ul>
