<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Welcome to Blanca!{% endblock %}</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block stylesheets %}
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" type="text/css" rel="stylesheet">

        <!-- FontAwesome CSS -->
        <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}" type="text/css" rel="stylesheet">

        <!-- Swiper CSS -->
        <link rel="stylesheet" href="{{ asset('css/swiper.min.css') }}" type="text/css" rel="stylesheet">

        <!-- Styles -->
        <link rel="stylesheet" href="{{ asset('style.css') }}" type="text/css" rel="stylesheet">
    {% endblock %}
</head>
<body>
<div class="outer-container">

    {% include 'post/header.html.twig' %}


			{% block body %}{% endblock %}



    {% include 'footer/footer.html.twig' %}

    {% block javascripts %}
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('js/swiper.min.js') }}"></script>
    <script src="{{ asset('js/custom.js') }}"></script>
    {% endblock %}
</body>
</html>
