{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="page-header flex justify-content-center align-items-center" style="background-image: url({{ asset('images/blog-bg.jpg') }}">
                <h1>The Story</h1>
            </div><!-- .page-header -->
        </div><!-- .col -->
    </div><!-- .row -->

    <div class="container">
        <div class="row">
            <div class="offset-lg-9 col-lg-3">
                <a href="#">
                    <div class="yt-subscribe">
                        <img src="images/yt-subscribe.png" alt="Youtube Subscribe">
                        <h3>Subscribe</h3>
                        <p>To my Youtube Channel</p>
                    </div><!-- .yt-subscribe -->
                </a>
            </div><!-- .col -->
        </div><!-- .row -->
    </div><!-- .container -->
</div><!-- .hero-section -->

<div class="container single-page blog-page">

    <div class="row">
        <div class="col-12">
            <div class="content-wrap">
                <header class="entry-header">
                    <div class="posted-date">
                        January 30, 2018
                    </div><!-- .posted-date -->

                    <h2 class="entry-title">{{ post.title }}</h2>

                    <div class="tags-links">
                        <a href="#">#winter</a>
                        <a href="#">#love</a>
                        <a href="#">#snow</a>
                        <a href="#">#january</a>
                    </div><!-- .tags-links -->
                </header><!-- .entry-header -->

                <figure class="featured-image">
                    <img src="{{ asset('images/blog-image.jpg') }}" alt="">
                </figure><!-- .featured-image -->

                <div class="entry-content">
                    {{ post.content|md2html }}
                </div><!-- .entry-content -->



                <footer class="entry-footer flex flex-column flex-lg-row justify-content-between align-content-start align-lg-items-center">
                    <ul class="post-share flex align-items-center order-3 order-lg-1">
                        <label>Share</label>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    </ul><!-- .post-share -->


        <div class="comments-count order-1 order-lg-3">
                        <a href="#">{{ 'post.num_comments'|transchoice(post.comments|length) }}</a>
                    </div><!-- .comments-count -->
                </footer><!-- .entry-footer -->
            </div><!-- .content-wrap -->

            <div class="content-area">
                <div class="post-comments">
                    <h3 class="comments-title">Comments</h3>
                    {% for comment in post.comments %}
                    <ol class="comment-list">
                        <li class="comment">
                            <div class="comment-body flex justify-content-between">
                                <figure class="comment-author-avatar">
                                    <img src="{{ asset('images/user-1.jpg') }}" alt="user">
                                </figure><!-- .comment-author-avatar -->

                                <div class="comment-wrap">
                                    <div class="comment-author flex flex-wrap align-items-center">
                                        <span class="fn">
                                            <a href="#">{{ comment.author.fullName }}</a>
                                        </span><!-- .fn -->

                                        <span class="comment-meta">
                                            <a href="#">{{ comment.publishedAt|localizeddate('medium', 'short', null, 'UTC') }}</a>
                                        </span><!-- .comment-meta -->

                                        <div class="reply">
                                            <a href="#">Reply</a>
                                        </div><!-- .reply -->
                                    </div><!-- .comment-author -->

                                    <p>{{ comment.content|md2html }}</p>

                                </div><!-- .comment-wrap -->
                            </div><!-- .comment-body -->
                        </li><!-- .comment -->

                    </ol><!-- .comment-list -->
                </div><!-- .post-comments -->

       {% else %}
            <div class="comment-author flex flex-wrap align-items-center">
                <p>{{ 'post.no_comments'|trans }}</p>
            </div>
        {% endfor %}
  {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {{ render(controller('App\\Controller\\BlogController:commentForm', {'id': post.id})) }}
                {% else %}
                    <p>
                        <a class="btn btn-success" href="{{ path('security_login', {'redirect_to': app.request.pathInfo}) }}">
                            <i class="fa fa-sign-in" aria-hidden="true"></i> {{ 'action.sign_in'|trans }}
                        </a>
                        {{ 'post.to_publish_a_comment'|trans }}
                    </p>
                {% endif %}
                <div class="comments-form">
                    <div class="comment-respond">
                        <h3 class="comment-reply-title">Leave a reply</h3>

                        <form class="comment-form">
                            <input type="text" placeholder="Name">
                            <input type="email" placeholder="Email">
                            <textarea rows="18" cols="6" placeholder="Messages"></textarea>
                            <input type="submit" value="Read More">
                        </form><!-- .comment-form -->
                    </div><!-- .comment-respond -->
                </div><!-- .comments-form -->
            </div><!-- .content-area -->
        </div><!-- .col -->
    </div><!-- .row -->
</div>
<a href="{{ path('post_index') }}">Page précédente</a>


{% endblock %}
