{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
    {% include 'post/header_post.html.twig' %}
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    {{ post.content }}
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {{ render(controller('App\\Controller\\BlogController:commentForm', {'id': post.id})) }}
                    {% else %}
                        <p>
                            <a class="btn btn-success" href="{{ path('security_login', {'redirect_to': app.request.pathInfo}) }}">
                                <i class="fa fa-sign-in" aria-hidden="true"></i> {{ 'action.sign_in'|trans }}
                            </a>
                            {{ 'post.to_publish_a_comment'|trans }}
                        </p>
                    {% endif %}
                </div>
            </div>

            <h3>
                <i class="fa fa-comments" aria-hidden="true"></i> {{ 'post.num_comments'|transchoice(post.comments|length) }}
            </h3>

            {% for comment in post.comments %}
                <div class="row post-comment">
                    <a name="comment_{{ comment.id }}"></a>
                    <h4 class="col-sm-3">
                        <strong>{{ comment.author.fullName }}</strong> {{ 'post.commented_on'|trans }}
                    </h4>
                    <div class="col-sm-9">
                        {{ comment.content|md2html }}
                    </div>
                </div>
            {% else %}
                <div class="post-comment">
                    <p>{{ 'post.no_comments'|trans }}</p>
                </div>
            {% endfor %}

        </div>
    </article>

    <a href="{{ path('post_index') }}">Page précédente</a>

{% endblock %}